<h1> This page lists the food items that the customer is going to order. </h1>

<% if user_signed_in? %>

    <h1> List of items that the customer is going to order.  </h1>
    


    <% @cook.each_with_index do |cook, index| %>
          <tr>
                <div>
                <td>Cook-Id: <%= cook.id %></td>
                <td>Cooking Address: <%= cook.suburb %>, <%= cook.state %>,</td>
                <td>Food Category: <%= cook.category %>,</td>
                <td>Price: <%= cook.price %>,</td>
                <td>Time needed for cooking: <%= cook.cooking_time %>;</td>
                 <td>Quantity Ordered:<%= @quantity[index] %>;</td>
                 <td> Total= <%= @total[index]%> AUD </td>
                
              </div>

            
          </tr>
        <% end %>
    <div> Grand Total= <%= @grand_total %>AUD </div>

    <%= button_to "Proceed to Payment" %>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>

<% else %>
    
   <div> Please <%= link_to "login", new_user_session_path %> to continue</div>
<% end %>