<h1> Following is the list of your food item details.  </h1>

<% if user_signed_in? %>
    <h2> If you want to edit your food, please select it and click submit  </h2>   
  <%= button_to "Submit ", edit_cook_path(current_user.id), :method => :get %>

    <% @cooks.each do |cook| %>
          <tr>
            <div>  
            <%= check_box("tag",  {checked: true}) %>  
               <div>
       
    </div> 
                <td>Cook-Id: <%= cook.id %></td>
                <td>Cooking Address: <%= cook.suburb %>, <%= cook.state %>,</td>
                <td>Food Category: <%= cook.category %>,</td>
                <td>Price: <%= cook.price %>,</td>
                <td>Time needed for cooking: <%= cook.cooking_time %>;</td>
                <%= image_tag cook.picture if cook.picture.attached? %>

              </div>

            
          </tr>
        <% end %>
     <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% else %>
    
   <div> Please <%= link_to "login", new_user_session_path %> to continue</div>
<% end %>

